# Core dependencies
numpy==1.26.4
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
opencv-python==4.10.0.84
ultralytics==8.0.196

winsdk==1.0.0
pywhatkit==5.4


# Utility
requests>=2.31.0
pillow>=10.0.0

# If using async / camera access
asyncio>=3.4.3
